---
type ContainerProps = {
  customClass: "social-ul" | "thumb-ul" | "header" | "txt-box" | "img-box" | "container";
  style?: string;
};

const { customClass, style } = Astro.props as ContainerProps;
---

<div class={customClass} style={style}>
  <slot />
</div>

<style>
  .social-ul {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
  }

  .thumb-ul {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    gap: 35px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
  }

  .txt-box {
    position: relative;
    max-width: 600px;
  }

  .img-box {
    padding-right: 50px;
    margin-top: 50px;
  }
</style>
