---
type ContainerProps = {
  customClass: "social-ul" | "thumb-ul" | "header";
};

const { customClass } = Astro.props as ContainerProps;
---

<div class={customClass}>
  <slot />
</div>

<style>
  .social-ul {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
  }

  .thumb-ul {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    gap: 35px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }
</style>
