---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import Image from '../ui/components/design-system/image/image.astro';
import Icon from '../ui/components/design-system/icon-social/icon-social.astro';
import Button from '../ui/components/design-system/button/button.astro';
import Typography from '../ui/components/design-system/typography/typography.astro';
import Navigation from '../ui/components/design-system/navigation/navigation.astro';
---

<Layout title="Landing page">
	<Image 
		size="100px" 
		altText="Logo App"
		src="/images/logo.png" 
	/>

	<Icon 
		name="facebook"  
		link="https://www.facebook.com"
	/>

	<Icon 
		name="instagram"  
		link="https://www.instagram.com"
	/>

	<Icon 
		name="twitter" 
		link="https://www.twitter.com"
	/>

	<Button 
		type="button" 
		variant="primary" 
		size="medium"
	>
		Click me
	</Button>

	<Button 
		type="button" 
		variant="secondary" 
		size="medium"
	>
		Click me 2
	</Button>

	<Typography variant="h2" color="secondary">
		Hello World
	</Typography>

	<Typography variant="p">
		Hello World
	</Typography>

	<Navigation 
		links={[
			{ name: 'Home', url: '/' },
			{ name: 'Menu', url: '/menu' },
			{ name: 'What\'s New', url: '/whatsnew' },
			{ name: 'Contact', url: '/contact' },
		]}
	/>
</Layout>

<style>
	
</style>
